django==5.2
djangorestframework==3.16.0
django-cors-headers==4.7.0
channels==4.3.0
channels-redis==4.3.0
psycopg2-binary==2.9.10
redis==6.2.0
djangorestframework-simplejwt==5.3.1
django-filter==24.3
daphne